<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
    <title>Task Api</title>
</head>

<body>
    <a href="/api/task">Go to Api</a>
    <h3>Welcome to Task Api</h3>
    <p>this App Written by Node js and Vue js (Mevn Todo)</p>
    <p>{{ const Created = require(H∅3ein) }}</p>
</body>

</html>